{% load static %}
{% load bootstrap4 %}
<html>
<head>
 <meta charset="utf-8">
 <title>On_TAGS</title>
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "index.css" %}" rel="stylesheet">
<link rel="icon" href="{% static "eye.png" %}" type="image/x-icon">
<link href="{% static "strelka.css" %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    .pic{
        float:left;
        margin:0px 3px;
    }
    </style>
</head>
<body>
{% include "shablon/navbar.html" %}
<div>
<h4 style="
    margin: 155px 95px 0px;
    /* float: left; */
    display: inline-block;
">Tags</h4><p style="
    margin: -25px 250px;
"></p>
</div>
{% block tag %}
{% include "shablon/tags.html" %}
{% endblock tag %}
{% block content %}
{% for question in page_obj %}
   <div class="question" style="
    background: whitesmoke;
    align: left;
	height:340px
">
<a href="{% url 'question' pk=question.id %}"><p style="text-align:center">{{question.title}}</p></a><br>
<p><img style="    margin: -15px 15px;
    border-radius: 20px;
    border: 2px solid red;
    height: 79px;
    width: 79;" src="{{question.author.avatar.url}}" height="80px" class="pic">{{question.text}}</p>
{% csrf_token %}
<div class="strelka">
<p>{{ question.rating }}
<a href="#" class="js-vote arrow up js-{{ question.id }}" data-action="like" data-qid="{{ question.pk }}">
<button style="
    height: 18px;
    width: 36px;
    margin: -25.5px 42px 0px;
">
<img src="/static/strelka1.png" style="
    height: 13px;
    width: 21px;
    margin: -1px;
"></button></a>
<a href="#" class="js-vote arrow down js-{{ question.id }}" data-action="dislike" data-qid="{{ question.pk }}">
<button style="
    margin: -7.4px 42px 0px;
    height: 18px;
    width: 36px;
    ">
	<img src="/static/strelka2.png" style="
    margin: 0 0 1;
    height: 13px;
    width: 21px;
"></button></a>
	</p>
</div>
 <p style="margin: 0px 17px 40px;"><a href="{% url 'question' pk=question.id %}">answer<span class="ans-count">({{ question.answers.all.count }})</span></a>
 Tags:{% for tag in question.tags.all %}
            <a href="{% url 'tag_question' str=tag %}">{{ tag }}</a>
            {% endfor %}</p>
	<p style="
    margin: -60px 400px;
    color: red;
">{{question.author.user.username}}</p>
<p style="
    margin: 0px 570px;
    color: green;
">{{question.date}}</p>
</div>
{% endfor %}
{% include "shablon/paginator.html" %}
{% endblock content %}
{%include "shablon/footer.html" %}
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'csrf.js' %}"></script>
 <script src="{% static 'vote.js' %}"></script>
 <script src="{% static 'checkbox.js' %}"></script>
  <script src="{% static 'centrifuge.min.js' %}"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>